In [1]:
import pandas as pd
df = pd.read_csv(r'C:\Users\pritb\Downloads\CS1.csv')

In [8]:
df.drop('Customer Name',axis = 1,inplace=True)

In [12]:
# df['Order ID'].str[3:7]
df['Year'] = df['Order ID'].str[3:7]

In [23]:
df['Year'].value_counts()
print("Year's total count : " ,len(pd.unique(df['Year'])))

Year's total count :  4

In [25]:
new_df = df[df['Year'] == '2018']
new_df.head(2)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Year
12,13,CA-2018-114412,15/04/2018,20/04/2018,Standard Class,AA-10480,Consumer,United States,Concord,North Carolina,28027.0,South,OFF-PA-10002365,Office Supplies,Paper,Xerox 1967,15.552,2018
23,24,US-2018-156909,16/07/2018,18/07/2018,Second Class,SF-20065,Consumer,United States,Philadelphia,Pennsylvania,19140.0,East,FUR-CH-10002774,Furniture,Chairs,"Global Deluxe Stacking Chair, Gray",71.372,2018

### best month for sales and sum of sales

In [28]:
df['Months'] = df['Order Date'].str[3:5]

In [31]:
sales_month = df.groupby('Months').agg({'Sales' : sum})

In [35]:
hm = sales_month['Sales'].idxmax()

In [36]:
sales_month

              Sales
Months
01       94291.6296
02       59371.1154
03      197573.5872
04      136283.0006
05      154086.7237
06      145837.5233
07      145535.6890
08      157315.9270
09      300103.4117
10      199496.2947
11      350161.7110
12      321480.1695

In [37]:
print("Month of Highest Sale : ",hm)
print("Highest Sale : ",sales_month['Sales'].max())

Month of Highest Sale :  11
Highest Sale :  350161.711

### best City for sales and Highest of sales

In [38]:
sales_city = df.groupby('City').agg({'Sales' : sum})

In [39]:
hc = sales_city['Sales'].idxmax()

In [40]:
print("Month of Highest Sale : ",hc)
print("Highest Sale : ",sales_city['Sales'].max())

Month of Highest Sale :  New York City
Highest Sale :  252462.547

In [41]:
sales_city

                Sales
City
Aberdeen       25.500
Abilene         1.392
Akron        2724.244
Albuquerque  2220.160
Alexandria   5519.570
...               ...
Woonsocket    195.550
Yonkers      7657.666
York          817.978
Yucaipa        50.800
Yuma          840.865

[529 rows x 1 columns]

### best State for sales and Highest of sales

In [42]:
sales_state = df.groupby('State').agg({'Sales' : sum})

In [43]:
hs = sales_state['Sales'].idxmax()

In [44]:
print("Month of Highest Sale : ",hs)
print("Highest Sale : ",sales_state['Sales'].max())

Month of Highest Sale :  California
Highest Sale :  446306.4635