In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
df = pd.read_csv(r'C:\Users\pritb\Downloads\CS-2.csv')

In [3]:
df.head()

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,"Act Like a Lady, Think Like a Man: What Men Re...",Steve Harvey,4.6,5013,17,2009,Non Fiction
1,Arguing with Idiots: How to Stop Small Minds a...,Glenn Beck,4.6,798,5,2009,Non Fiction
2,"Breaking Dawn (The Twilight Saga, Book 4)",Stephenie Meyer,4.6,9769,13,2009,Fiction
3,Crazy Love: Overwhelmed by a Relentless God,Francis Chan,4.7,1542,14,2009,Non Fiction
4,Dead And Gone: A Sookie Stackhouse Novel (Sook...,Charlaine Harris,4.6,1541,4,2009,Fiction

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 700 entries, 0 to 699
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Name         700 non-null    object
 1   Author       700 non-null    object
 2   User Rating  700 non-null    float64
 3   Reviews      700 non-null    int64
 4   Price        700 non-null    int64
 5   Year         700 non-null    int64
 6   Genre        700 non-null    object
dtypes: float64(1), int64(3), object(3)
memory usage: 38.4+ KB

In [15]:
df['Author'].value_counts()

Jeff Kinney                           14
Gary Chapman                          14
Suzanne Collins                       12
Rick Riordan                          11
American Psychological Association    11
                                      ..
Randall Munroe                         1
Coloring Books for Adults              1
Chris Kyle                             1
Angie Grace                            1
Stephen Perrine                        1
Name: Author, Length: 305, dtype: int64

In [24]:
df.groupby('Genre').agg('Price').mean()

Genre
Fiction        10.663462
Non Fiction    14.337629
Name: Price, dtype: float64

In [28]:
df['Name'].where(df['Reviews'] == df['Reviews'].max()).dropna()

699    Where the Crawdads Sing
Name: Name, dtype: object

In [35]:
df1 = df.where(df['Year'] == 2022)

In [39]:
# df1.dropna()
df1['Genre'].value_counts()

Fiction        26
Non Fiction    24
Name: Genre, dtype: int64

In [64]:
m = df['User Rating'].max()
df['User Rating'].value_counts()[m]

76